::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #a855f7;
  border-radius: 100vw;
}

@supports (scrollbar-color: #a855f7 transparent) {
  * {
    scrollbar-color: #a855f7 transparent;
    scrollbar-width: thin;
  }
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 0.9rem;
}

h3,
p,
button {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3,
  p,
  button {
    font-size: 1rem;
  }
}
