h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 0.9rem;
}

h3,
p,
button {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3,
  p,
  button {
    font-size: 1rem;
  }
}
